body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 20px;
    display: flex;
        flex-direction: column;
        align-items: center;
    min-height: 100vh;
}

nav {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #1e90ff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.2em;
    }

h1 {
    font-size: 2em;
    margin: 10px 0;
}

h2 {
    font-size: 1.5em;
    margin-top: 5px;
        margin-bottom: 5px;
}

#activeLoansSection {
    width: calc(100% - 40px);
    padding: 20px;
        padding-bottom: 20px;
    margin-bottom: 0;
    border-bottom: 1px solid #d3d3d3;
}

#activeLoansGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

#completedLoans {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
        width: calc(100% - 40px);
        padding: 20px;
        padding-top: 10px;
    margin-top: 0;
}

.loan-container {
    background-color: #1e1e1e;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 10px;
        /* Space between cards */
}

.loan-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status-tag {
    margin-left: auto;
    white-space: nowrap;
}

.loan-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
        margin-bottom: 5px;
        /* Reduced space below the header */
    }
    
    .loan-header strong {
        font-weight: bold;
        color: #fff;
    }
    
    .loan-summary {
        font-size: 0.9em;
        /* Smaller font size for details */
        color: #ccc;
        /* Lighter text color */
}

.expand-events {
    cursor: pointer;
    color: #1e90ff;
    text-align: center;
    padding: 5px;
    font-size: 0.9em;
    background-color: #252525;
    border-radius: 3px;
    margin-top: 10px;
        /* Space above the 'Click to view events' button */
}

.loan-events {
    display: none;
    flex-direction: column;
    margin-top: 10px;
}

.loan-event {
    background-color: #252525;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #ccc;
}

/* Status color coding */
.status-applicationreceived {
    background-color: #4c00ff;
}

.status-creditcheckinitiated {
    background-color: #ff4500;
}

.status-creditcheckcompleted {
    background-color: #008000;
}

.status-applicationapproved {
    background-color: #4caf50;
}

.status-applicationdenied {
    background-color: #f44336;
}

.status-loandisbursed {
    background-color: #1e90ff;
}

.status-manualreviewrequired {
    background-color: orange;
}

@media (max-width: 1024px) {
    #activeLoansGrid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

@media (max-width: 768px) {
    #activeLoansSection,
        #completedLoans {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .loan-summary>span {
        flex-direction: column;
        align-items: flex-start;
    }

        .loan-summary .value {
            margin-left: 0;
            margin-top: 2px;
        }
}